<form>
  <div class="form-control">
    <label for="searchWord">Enter a Word</label>
    {{input type="text" value=searchWord id="searchWord"}}
  </div>
  <button {{action 'wordSearch' searchWord}}>Search</button>
  <button {{action 'randomSearch' }}> Random</button>
</form>
