<div class="homesearch">
  <p><b>Welcome to Poetry &amp; Pictures!</b> Poetry and Pictures is a small poet community where we gather inspiration from images to practice our art! Enter a keyword below to find an image with a specific theme, or click "random" for a computer generated image. All images are open to all users, so contribute however you feel inspired.
  <br><br>Also, check out our gallery to see what other users have contributed. Enjoy!
  </p><br>
<h2>Search:</h2>
<form>
  <div id="image-search" class="form-control">
    <label id ="category" for="searchWord">Enter a keyword to view an image:</label>
    {{input type="text" value=searchWord id="searchWord" placeholder="(dog, apple, etc.)"}}
  </div>
  <button {{action 'randomSearch' }}> Random</button>
  <button {{action 'wordSearch' searchWord}}>Search</button>
</form>
</div>
