<div class="homesearch"><p>This site is a place to share pretty images and user-generated haikus based on this images. Enter a keyword (or click "random" below) to generate an image for inspiration. You may add your own haiku to an image or browse our gallery below.</p>
<form>
  <div id="image-search" class="form-control">
    <label id ="homeSearch" for="searchWord">Enter a keyword to view an image</label>
    {{input type="text" value=searchWord id="searchWord" placeholder="dog, apple, etc."}}
  </div>
  <button {{action 'randomSearch' }}> Random</button>
  <button {{action 'wordSearch' searchWord}}>Search</button>
</form>
</div>
