*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 15px;
  background-color: #F7F0F0;
  font-family: 'Libre Baskerville', serif;
}

.page-wrap {
  margin-top: 0;
  width: 800px;
  height: 100vh
  margin: 0 auto;
  z-index: 1;
}

p {
  color: #9197AE;
  font-size: 16px;
}

li {
  list-style: none;
}

img {
  border: 2px solid #9197AE;
}

header {
  background-color: #F7F0F0;
  text-align: center;
}

header h1 {
  text-shadow: 1px 1px #9197AE;
  color: #A3C4BC;
  font-size: 55px;
}

a:hover {
  font-weight: bolder;
}

.gallery {
  border: 2px solid pink;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}

.gallery img {
border: 1px solid yellow;

  /*display: flex;
  flex-wrap: wrap;
  height: auto;
  flex: 1;*/
}

footer {
   /*position:fixed;*/
   /*background-color: #9197AE;*/
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
   margin-bottom: 5px;
   color: #9197AE;
   font-weight: normal;
   text-align: center;
   z-index: 5;

}

footer hr {
  border: none;
  height: 1px;
  background-color: #9197AE; /* Modern Browsers */
}

.homesearch {
  width: 80%;
  margin: 0 auto;
}

/*#homeSearch {
  color: #A3C4BC;
  text-shadow: 1px 1px black;
}*/

.pixabay {
  width: 364px;
  height: 45px;
}

.contact {
  border: 2px solid #A3C4BC;
  padding: 15px;
  width: 80%;
  margin: 0 auto;
}

#about {
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.contact p, h2 {
  margin: 10px;
}

h1, h2 {
  color: #A3C4BC;
}

button {
  background-color: #A3C4BC;
  margin-top: 8px;
  margin-right: 4px;
  padding: 8px;
  border-radius: 10px;
}

@media screen and (max-width: 610px) {
  body {
    margin: 5px;
    background-color: #F7F0F0;
    font-family: 'Libre Baskerville', serif;
  }

  .page-wrap {
    margin-top: 0;
    width: 100%;
    /*height: 50vh;*/
    margin: 0 auto;
    z-index: 1;
  }

  header h1 {
    font-size: 35px;
  }

  .homesearch {
    width: 100%;
    height: 100vh
    margin: 0 auto;
  }

  .homesearch button {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .pixabay {
    width: 182px;
    height: 23px;
  }

  footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:100px;
  width:100%;
  color: #9197AE;
  font-weight: normal;
  text-align: center;
  z-index: 5;

  }

}
