<h2>About</h2>
<p>
  This site is meant to share images and poetry using the Pixabay API and user-generated haikus. You may simply view our gallery or add an entry of your own! All photos are drawn from Pixabay which runs under a Creative Commons license. You can view their terms of service <a href="https://pixabay.com/en/service/terms/">here</a>. All user entries on our site are not attributed and are meant for free, public use.

</p>
