<header>
<h1 id="title">Poetry and Pictures</h1>
{{#link-to 'index'}}Home{{/link-to}} | {{#link-to 'about'}}About{{/link-to}} | {{#link-to 'contact'}}Contact{{/link-to}}
<br><br>
</header>


{{outlet}}

<footer>
<hr>
<b>This site uses Pixabay's photo API and was created by students at Epicodus.</b> <a href="https://pixabay.com/">
    <img class="pixabay" src="https://pixabay.com/static/img/public/leaderboard_a.png" alt="Pixabay">
</a>
</footer>
