<header>
  <div class="nav">
    <ul>
    <li class="homePage">{{#link-to 'index'}}Home{{/link-to}}</li>
    <li class="aboutPage">{{#link-to 'about'}}About{{/link-to}}</li>
    <li class="contactPage">{{#link-to 'contact'}}Contact{{/link-to}}</li>
  </ul>
  </div>
<h1 id="title">Poetry &amp;<br> Pictures <i class="fa fa-camera-retro" aria-hidden="true"></i></h1>
<!-- {{#link-to 'index'}}Home{{/link-to}} | {{#link-to 'about'}}About{{/link-to}} | {{#link-to 'contact'}}Contact{{/link-to}} -->
<br><br>
<hr>
</header>


{{outlet}}

<footer>
<hr>
<b>This site uses Pixabay's photo API and was created by students at Epicodus.</b> <a href="https://pixabay.com/">
    <img class="pixabay" src="https://pixabay.com/static/img/public/leaderboard_a.png" alt="Pixabay">
</a>
</footer>
