<div class="contact">

<h2>Contact us <i class="fa fa-envelope-o" aria-hidden="true"></i></h2>
<p>
<i>This site was created with Ember by students of Epicodus for educational purposes.</i>
</p>
<br>
<p>
  Contact Epicodus(Portland):<br>
  400 SW 6th Ave, Suite 800, Portland, OR 97204<br>
  Email: <a href="mailto:hi@epicodus.com?Subject=Hello%20again" target="_top">hi@epicodus.com</a>
  <br>
  <br>The best way to reach us (the students/creators) is through GitHub at the
  <a href="https://github.com/netzeln/Poetry-and-Pictures"> Poetry and Pictures Repo </a>
</p>
</div>
