
{{search-form wordSearch="wordSearch" randomSearch="randomSearch"}}
<br><br>
<h2>Gallery:</h2>
<p>Pick an image below to read what users have already submitted,
  or even to add your own!
</p><br>
<div class="gallery">

  {{#each model as |picture|}}
    {{picture-thumb picture=picture}}
  {{/each}}
</div>
